# Secrets — jamais versionnés
.env
*.env
!*.env.example
deploy/02_caddy/certs/*
!deploy/02_caddy/certs/.gitkeep
deploy/03_docker/adcs-root.crt
*.keytab
*.key
*.pfx
*.pem
!*.example.pem

# Données runtime
deploy/03_docker/vw-data/
deploy/02_caddy/logs/

# Divers
*.log
.DS_Store
deploy/05_authentik/kerberos-sso-blueprint.rendered.yaml
